.postpage{
    padding-top: 5px;
    padding-bottom: 5px;
}
.postpage_post{
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0px 2px 26px 9px rgba(206,206,206,1);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}
.postpage_title{
    margin-top: 10px;
}
.postpage_date{
    font-size: 13px;
    padding-top: 5px;
}
.postpage_body{
    font-size: 15px;
    padding-top: 10px;
    letter-spacing: 2px;
    padding-bottom: 20px;
}
.postpage button{
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 17px;
}
.postpage_post a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.postpage_notfound{
    padding-bottom: 10px;
}
.postpage_buttons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}